<div class="section">
	<div class="row">
		<div class="col s12 m5">
			<img class="responsive-img" width="100%;" src="assets/img/bedrijven.jpg">
		</div>

		<div class="col s12 m7">
			 <p>Bij oefentherapie Mensendieck staan "Houding en Beweging" centraal. Verschillende facetten van oefentherapie en shiatsu worden op deze site belicht.</p>
			 <p>Frank Kleinleugenmors is gespecialiseerd in arbeidsgerelateerde klachten, zoals RSI (tegenwoordig ook wel Kans genoemd) en Chronische pijn.</p>
		</div>
	</div>
</div>