<div class="section">
	<div class="row no-margin">
		<div class="col s12 m7">
			<img class="responsive-img" width="100%;" src="assets/img/praktijk.jpg">
		</div>

		<div class="col s12 m5">
			 <h4 class="bold">Praktijk</h4>
			 <p>De praktijk is sinds 1994 gevestigd in Bedrijven Centrum Westerpark. De behandelruimte is op de 4e etage en goed bereikbaar met een lift.</p>
			 <p>Frank Kleinleugenmors is gespecialiseerd in chronische pijnklachten en arbeidsgerelateerde klachten.. Naast oefentherapie geeft hij ook shiatsu.</p>
			 <p>Zie voor eeboln video over chronische pijn en een artikel in Computer Idee over "gezond beeldschermwerk"</p>
		</div>
	</div>
</div>
