<div class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="header section-title"><u>Oefentherapie</u> *</p>
				<div class="row">
					<div class="col s12 m6">
						<div class="card">
							<div class="card-content">
								<p>30 min</p>
							</div>
							<div class="card-action">
								<span>&euro;32, 00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			
			<div class="col s12">
				<p class="header section-title"><u>Shiatsu</u> *</p>
				<div class="row">
					<div class="col s12 m6">
						<div class="card">
							<div class="card-content">
								<p>30 min</p>
							</div>
							<div class="card-action">
								<span>&euro;36,00 (incl. BTW)</span>
							</div>
						</div>
					</div>
					<div class="col s12 m6">
						<div class="card">
							<div class="card-content">
								<p>60 min</p>
							</div>
							<div class="card-action">
								<span>&euro;68,00 (incl. BTW)</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col s12">
				<p class="header section-title"><u>Stoelmassage</u> *</p>
					<div class="row">
					<div class="col s12 m6">
						<div class="card">
							<div class="card-content">
								<p>30 min</p>
							</div>
							<div class="card-action">
								<span>&euro;36,00 (incl. BTW)</span>
							</div>
						</div>
					</div>
					<div class="col s12 m6">
						<div class="card">
							<div class="card-content">
								<p>60 min</p>
							</div>
							<div class="card-action">
								<span>&euro;68,00 (incl. BTW)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">

</div>
